<ion-header class="ion-no-border" no-border>
  <ion-toolbar mode="md">
    <div class="title">
      <p>Informacion</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />

  <div class="alert">
    <ion-card>
      <ion-card-content>
        <div class="custom-content">
          <div class="head-title">
            <p>Asesoría Financiera</p>
          </div>

          <div class="text-1">
            <p>
              Reciba asesoría experta y eficaz para fortalecer su patrimonio.
            </p>
          </div>

          <div class="text-2">
            <p>
              Lo invitamos a formar parte de la Banca Patrimonial y Privada.
              Trabajaremos con usted en el diseño de una estrategia de inversión
              de acuerdo a sus necesidades financieras de una forma integral.
              Nuestra oferta de productos le permite administrar y desarrollar
              su patrimonio de una manera confiable y segura.
            </p>
          </div>

          <div style="justify-content: flex-start" class="text-2">
            <p>
              Creamos soluciones a su medida de acuerdo a su perfil de
              inversión, brindándole un servicio personalizado y de alta
              calidad.
            </p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <br />

  <div class="control">
    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="header title divisas">
          <p>Divisas</p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Dolar</p>
          <p><strong class="hide">___</strong>$ 19.00</p>
          <p>$ 20.40</p>
        </div>

        <div class="kb-row">
          <p class="lite">Euro</p>
          <p><strong class="hide">___</strong>$ 20.65</p>
          <p>$ 21.55</p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="kb-row title ipc">
          <p>IPC</p>
          <p></p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Volumen</p>
          <p>48,104.38</p>
          <p></p>
        </div>

        <div class="kb-row">
          <p class="lite">Variacion</p>
          <p><strong class="hide">____</strong>323.66 (0.68%)</p>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="kb-row title norte">
          <p>GFNORTE</p>
          <p></p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Ultimo</p>
          <p><strong class="hide">___</strong>118.77</p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Variacion</p>
          <p><strong class="hide">______</strong>3.76 (3.27%)</p>
          <p></p>
        </div>

        <div class="kb-row">
          <p class="lite">Apertura</p>
          <p><strong class="hide">..</strong>115.30</p>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <div class="txtBottom">
      <p><strong>asesoria@asesoriafinanciera.com</strong></p>
    </div>
  </div>
</ion-content>
