<ion-header class="ion-no-border" no-border>
  <ion-toolbar mode="md">
    <div class="kb-row">
      <div>
        <button
          [routerLink]="['/iniciojjzmqpjzio']"
          style="background-color: transparent; color: #fff"
        >
          <ion-icon
            style="font-size: 30px"
            name="chevron-back-outline"
          ></ion-icon>
        </button>
        <!-- <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons> -->
      </div>

      <div class="title">
        <p>Indicadores financieros</p>
      </div>

      <div></div>
    </div>

    <!-- <ion-title>indicators</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />

  <div class="control">
    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="kb-row title divisas">
          <p>Divisas</p>
          <p>Compra</p>
          <p>Venta</p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Dolar</p>
          <p><strong class="hide">___</strong>$ 19.00</p>
          <p>$ 20.40</p>
        </div>

        <div class="kb-row">
          <p class="lite">Euro</p>
          <p><strong class="hide">___</strong>$ 20.65</p>
          <p>$ 21.55</p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="kb-row title ipc">
          <p>IPC</p>
          <p></p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Volumen</p>
          <p>48,104.38</p>
          <p></p>
        </div>

        <div class="kb-row">
          <p class="lite">Variacion</p>
          <p><strong class="hide">____</strong>323.66 (0.68%)</p>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <ion-card>
      <ion-card-content>
        <div class="divide"></div>

        <div class="kb-row title norte">
          <p>GFNORTE</p>
          <p></p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Ultimo</p>
          <p><strong class="hide">___</strong>118.77</p>
          <p></p>
        </div>

        <div class="kb-row divide">
          <p class="lite">Variacion</p>
          <p><strong class="hide">______</strong>3.76 (3.27%)</p>
          <p></p>
        </div>

        <div class="kb-row">
          <p class="lite">Apertura</p>
          <p><strong class="hide">..</strong>115.30</p>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <br />

    <div class="txtBottom">
      <p>Al menos <strong>30 minutos</strong> de retraso</p>
    </div>
  </div>
</ion-content>
