.container{
    text-align: center;
}

ion-card.aviso{
    --background: #ebf0f3;
    --color: #000;
    border-radius: 12.5px;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-card-content.aviso{
	-webkit-padding-start: 12px;
	padding-inline-start: 12px;
	-webkit-padding-end: 12px;
	padding-inline-end: 12px;
}

ion-card-content.aviso{
    padding-top: 20px;
    padding-bottom: 20px;
}

ion-card.aviso .content p{
    color: #5c6670;
    font-size: 16px
}

ion-card.aviso .footer{
    color: #5c6670;
    margin-top: 15px
}

ion-card.aviso ion-button{
    --background: #323f48;
    height: 50px;
    --border-radius: 10px;
    --box-shadow:none;
}


